*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Gilroy-regular';
}
header{
    background-image: url(./img/main.jpg);
    height: 100vh;
    /* background-size: 100%; */
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}
header nav{
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    height: 6%;
    font-family: "Gilroy-medium";
    /* margin-top: 3%; */
}
/* .logo{
    width: 20%;
} */
ul{
    list-style-type: none;
}
nav ul{
    display: flex;
    justify-content: space-between;
    /* width: 50%; */
}
li{
    align-self: center;
}
li a{
    color: white;
    text-decoration: none;
}
li:not(:last-child){
    padding-right: 40px;
}
.darkHeader{
    position: absolute;
    height: 98vh;
    background-color: rgba(0, 0, 0, 0.5);
    width: 90%;
    padding: 2vh 5% 0 5%;
}
/* header img{
    width: 20%;
} */
.container{
    padding: 0 5% 0 5%;
}
.headerMain{
    width: 70%;
    height: 94%;
    display: flex;
    align-items: center;
}
.headerSection{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 55%;
}
.mainButton{
    width: 250px;
    height: 62px;
    background-color: #829E53;
    border: none;
    padding: 10px;
    color: white;
    font-family: "Gilroy-bold";
    font-size: 32px;
    line-height: 40px;
    margin-top: 10px;
}
h1{
    
    font-size: 64px;
    line-height: 79px;
    font-family: "Gilroy-bold";
}
.headerSection span{
    
font-size: 32px;
line-height: 38px;
font-family: "Gilroy-light";
}
.firstSection{
    display: flex;
    width: 90%;
    padding-top: 50px;
    padding-bottom: 50px;
    justify-content: space-between;
}
.firstSectionItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.firstSectionItem:not(:last-child){
    margin-right: 25px;
}
.firstSectionImg{
    background-color: #EDF0F7;
    border-radius: 100%;
    width: 106px;
    height: 106px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.firstSectionImg img{
    width: 60%;
}
.firstSection h3{
    font-family: "Gilroy-bold";
    font-size: 25px;
}
.secondSection{
    background-color: #EDF0F7;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-around;
    
}
.secondSection h3{
font-family: "Gilroy-bold";
}
.secondSectionItem{
    width: 40%;
    display: flex;
    justify-self: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.secondSectionItem span{
    margin-top: 10px;
}
.secondSectionItem h3{
    margin-top: 10px;
}
/* .secondSectionItem{

} */
.secondSection img{
    width: 100%;
}
.thirdSection{
    -moz-user-select: none; -khtml-user-select: none; user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 50px;
    font-family: "Gilroy-bold";
    font-size: 70px;
    /* background-size: 100%; */
    /* background-position: center; */
    background-image: url(./img/jr-korpa-9XngoIpxcEo-unsplash\ 1.png);
}
.thirdSection{
    text-align: center;
}
.fourthSection{
    padding-top: 100px;
    /* display: flex; */
}

.fourthSection hr{
    margin: 49.5px 0 49.5px 0;
    border: none;
    background-color: #C4C4C4;
    height: 1px;
    
}
.fourthSectionItem{
    display: flex;
    
}
.fourthSectionItem img{
    width: 400px;
    /* height: 265px; */
    margin-right: 50px;
}
.fourthSectionItemRight{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    /* height: 80%; */
    /* align-items: center; */
    /* justify-content: sp; */
}
.fourthSectionItemRight h2{
    font-family: "Gilroy-bold";
    font-size: 40px;
}
.fourthSectionItemRight span{
    font-family: "Gilroy-medium";
    font-size: 20px;
}
.allArtickles{
   padding-top: 50px;
    padding-bottom: 25px;
    display: flex;
    justify-content: center;
    
}
.allArtickles button{
    font-family: "Gilroy-bold";
    font-size: 25px;
    color: #504CE5;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.fifthSection{
    text-align: center;
    background-color: #EDF0F7;
    padding-top: 25px;
}
.fifthSection h2{
    font-family: "Gilroy-bold";
    font-size: 30px;
    margin-bottom: 20px;
}
.fifthSection span{
    font-family: "Gilroy-regular";
    font-size: 15px;
}
.fifthSectionGaleryDuo{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.fifthSectionGaleryDuo img{
    width: 40%;
}
.fifthSectionGaleryDuo{
    margin-bottom: 50px;
}
.fifthSectionGaleryDuo:first-child{
    margin-top: 20px;
}
h2{
    font-family: "Gilroy-bold";
    font-size: 40px;
}
h3{
    font-family: "Gilroy-bold";
}
.seventhSection{
    text-align: center;
    display: flex;
    flex-direction: column;
}
.seventhSection span{
    font-family: "Gilroy-medium";
}
.seventhSection h2{
    margin-top: 25px;
    margin-bottom: 50px;
}
.seventhSectionOurTeam{
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
}
.seventhSectionOurTeamItem{
    background-color: #EDF0F7;
    width: 30%;
}
.seventhSectionOurTeamItem:not(:last-child){
    margin-right: 10px;
}
.ourTeamAvatar{
    width: 100%;
}
.social a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    min-width: 20px;
}
.social{
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-around;
}
.social a:not(:last-child){
    padding-right: 10px;
}
.social img{
width: 100%;
}
.eighthSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #EDF0F7;
    padding-bottom: 50px;
}
.eighthSectionH2{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.eighthSectionH2 H3{
    padding: 0 17px 0 17px;
}

.eighthSectionH2 h2{
    width: 40%;
    min-width: 171px;
    margin: 0 10px 0 10px;
    text-align: center;
}
.eighthSectionH2 hr{
    min-width: 65px;
    width: 20%;
    border: none;
    background-color: #7D1FF3;
    height: 10px;
}
.eighthSection span{
    width: 100%;
    text-align: center;
    align-self: center;
}
.eighthSectionMainSpan{
    margin-bottom: 25px;
}
.eighthSectionCard{
    background-color: #FFF5F5;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    min-width: 235px;
    padding-bottom: 30px;
}
.eighthSection strong{
    font-size: 50px;
}
.eighthSectionCard h3{
    margin: 20px 0 20px 0;
}
.eighthSectionCard:not(:last-child){
    margin-right: 25px;
}
.eighthSectionCards{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
/* .eighthSectionCardsH3{
    display: flex;
} */
.eighthSectionCardContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.ourPrice{
    margin: 50px 0 25px 0;
}
strong{
    font-family: "Gliroy-bold";
}
.eighthSectionCardCheck{
    display: flex;
    width: 90%;
}
.eighthSectionCardCheck img{
    width: 20px;
}
.eighthSectionCardCheck:not(:last-child){
    margin-bottom: 20px;
}
.eighthSection .mainButton{
    background-color: #9045EF;
    width: 80%;
    font-family: "Gilroy-medium";
    height: 40px;
    padding: 0;

}
.ninthSection{
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 50px;
    align-items: center;
    text-align: center;
}
.ninthSection img{
    width: 100%;
}
.ninthSection h2{
    padding-top: 20px;
}
.ninthSection span{
    padding-top: 20px;
}
.ninthSection button{
    margin-top: 20px;
}
button{
    cursor: pointer;
}
.footer{
    background-color: black;
    padding-top: 50px;
    padding-bottom: 50px;
    color: #A9A9A9;
    
}
.footerWrapper{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px ;
}
footer h3{
    color: white;
}
.footerItem{
    display: flex;
    flex-direction: column;
    width: 30%;
}
footer .social{
    justify-content: flex-start;
}
footer .social a:not(:last-child){
    padding-right: 30px;
}
.logo{
    width: 100%;
}
header nav a:not(:last-child){
    margin-right: 10px;
}
.sliderItem{
    text-align: center;
}
.sliderItem img{
    border-radius: 100%;
}
.slick-slide img {
    display: inline-block !important;
    padding: 15px; 
}
.slick-slide img{
   height:130px;
}
.slick-track{
    display: flex !important;
    align-items:center !important;
}
strong{ 
font-family: 'Gilroy-bold';
 }
 .eighthSectionCardContent strong{
        padding: 0px 0 23px 0;
 }
input, button{
    border-radius: 5px;
}
footer a{
    color: #A9A9A9;
    text-decoration: none;
}
.fixed{
    position: fixed;
}
